<div class="container">    
    <h1 style="font-family: 'Herr Von Muellerhoff';color:black;font-weight:10;">Awesome Quotes</h1>
    <hr>
    <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;color: grey">A good quote can be the heart of a compelling article.<br> Good quotes help to tell a story and enhance the credibility of a press release, news story or speech.<br> Words that are crafted well can leave a lasting impact on the world. <br>Here you'll find the most compelling quotes to light up your day and give you motivation to face challanges.

    </p>
    <div class="row">
        <div class="column-md-6">
            <app-quote-form (addQuote)='addNewQuote($event)'></app-quote-form>            
        </div>
        <div class="column-md-6">
            <h2 style="font-family: 'Herr Von Muellerhoff';color:black;font-weight:300;">Published Quotes</h2>
            <ol>
            <div *ngFor='let list of zamz; let i = index'>
                <li appUnderLine>{{list.name}}'s quote about {{list.topic | uppercase}} </li>
                    <div>        
                        <button class="btn btn-primary" (click)='toggleDetails(i)'>hide/show</button>        
                    </div>    
                <div *ngIf='list.showQuote'>
                <app-quotedetail (isComplete)='quoteDelete($event, i)' [list]='list'></app-quotedetail>
                </div>
            </div>
      

    
    
    

       
        
        
       
    


  
