
    <h1>All Quotes</h1>
    <hr> 
    <div>
        <app-quote-form (addQuote)='addNewQuote($event)'></app-quote-form>
    </div>
    
    <ol>
        <div *ngFor='let list of zamz; let i = index'>
            <li>{{list.name}}'s quote about {{list.topic | uppercase}} </li>
            <div>
    
            <button class="btn btn-primary" (click)='toggleDetails(i)'>hide/show</button>        
            </div>
   
            <div *ngIf='list.showQuote'>
            <app-quotedetail (isComplete)='quoteDelete($event, i)' [list]='list'></app-quotedetail>
            </div>
        </div>
       
    
       
        
        
       
    


  
