*{
    background-color: bisque;
    text-shadow: 40px;
    padding: 0.3%;
}

button{
    background-color: #ffd300;
    margin: 0.09%;
    border-radius: 40px;
    color: rgb(53, 53, 48);
}
button:hover{
    border-color: aqua;
}

li:hover{
    text-decoration: underline;
    color:blue;
}