*{
    display: block;
    border: 0;
    padding: 0.8em 1.5em;
    background-color: #f2f2f2;    
    text-decoration: none;
}

div{
    text-align: center;
    margin: 3%;
    border: 3%;
    border-color: brown;
    
}

form{
    background-color: bisque;
}
input#name{
    display: inline-block;
  border: 1px solid rgba(187, 116, 116, 0.25) !important;
  border-radius: 0.25em;
  min-width: 7em;
  background-color: #a58a8a;
 
  text-align: center;
  text-decoration: none !important;
  vertical-align: bottom;
}

button#submit{   
   background-color: #888888;
}